.forumComment {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    padding-top: 12px;
    background-color: white;
    /* border-style: solid;
    border-color: #d3d3d3; */
}

.forumComment__center {
    width: 100%;
    margin-bottom: 2px;
}

.forumComment__center > h3 {
    font-weight: 600;
    font-size: medium;
    color: #464855;
    margin-bottom: 0px;
    margin-top: auto;
}

.forumComment__center >  .forumComment__info {
    font-size: smaller;
    color: #898ea2
}

.forumComment__group {
    width: 100%;
}

p.forumComment__info {
    margin-top: 4px;
}

.forumComment__left {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 0px;
}

pre {
    line-height:1.2em;
    font-family:sans-serif;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.forum__reply {
    color: #898ea2;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
}

.forum__width {
    width: 80%;
    overflow: auto;
}

