.forumPosts {
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: -1px 0px 5px 5px #f4f5fa;
}

.forumPost {
    display: flex;
    align-items: center;
    margin: 1.5em 1em;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    border-style: solid;
    border-color: #d3d3d3;
}

.forumPost__center {
    width: 100%;
    margin-bottom: 2px;
    padding: 0px 15px;
}

.forumPost__center > h3 {
    font-weight: 600;
    font-size: medium;
    color: #464855;
    margin-bottom: auto;
    margin-top: 10px;
}

.forumPost__center >  .forumPost__info {
    font-size: smaller;
    color: #898ea2
}

.forumPost__group {
    width: 100%;
}

p.forumPost__info {
    margin-top: 4px;
}

.forumPost__left {
    padding: 0px 15px;
    margin-bottom: auto;
    margin-top: 15px;
}

.createPost {
    margin-top: 20px;
}

textarea {
    border-radius: 0px;
}

.forumPost__post {
    line-height:1.2em;
    font-size: 20px;
    font-family:sans-serif;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}